@use 'app/styles/utilities' as *;
@use 'app/styles/colors' as *;
@use 'app/styles/animations' as *;

.education-wrapper-container {

    p {
        all: unset;
        display: block;
    }

    .education-list-wrapper {
        @extend .d-flex, .flex-column, .justify-center, .align-center, .gap-12;
        @extend .pos-relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: calc(35% + 1rem + 7.5px);
            width: 2px;
            height: 100%;
            background-color: $White;
            transform: translateX(-50%);
            box-shadow: 
                3px 3px 8px $Teal200, 
                -3px -3px 16px $Teal300,
                6px 6px 25px $Teal400,
                -6px -6px 35px $Teal100;

            @media (max-width: 768px) {
                left: unset;
                right: 0;
                transform: unset;
            }
        }

        .education-item-wrapper {
            @extend .d-flex, .gap-4, .justify-center;

            .first-dot {
                display: none;

                @media (max-width: 768px) {
                    display: block;
                }
            }

            .second-dot {
                display: block;

                @media (max-width: 768px) {
                    display: none;
                }
            }

            .timeline-dot {
                width: 15px;
                height: 15px;
                background-color: $Teal300;
                box-shadow: 0 0 5px $Teal400,
                0 0 10px $Teal400,
                0 0 20px $Teal300,
                0 0 40px $Teal200;
                border-radius: 50%;
                z-index: 1;

                @media (max-width: 768px) {
                    position: absolute;
                    top: 0;
                    right: calc(-2rem - 7.5px);
                }
            }

            .education-name-wrapper {
                @extend .d-flex, .flex-column, .align-flex-end, .gap-4, .pl-12;
                width: 35%;

                .education-item-college-wrapper {
                    @extend .font-weight-bold, .d-inline;
                    font-size: 2em;
                    text-align: right;
                }

                .education-image {
                    width: 30px;
                }

                @media (max-width: 768px) {
                    width: unset;
                }
            }

            .education-item-content {
                @extend .d-flex, .flex-column, .gap-4, .pr-8;
                flex: 1;

                .education-item-pursue {
                    @extend .font-weight-semi-bold;
                    font-size: 1.7em;
                }

                .education-item-description {
                    font-size: 1.2em;
                    line-height: 1.7em;
                }

                @media (max-width: 768px) {
                    padding: 0;
                }
            }

            @media (max-width: 768px) {
                position: relative;
                flex-direction: column;
                padding-left: 4rem;
            }
        }

        @media (max-width: 768px) {
            margin-right: 4rem;
            padding-right: 2rem;
            text-align: right;
        }
    }

    .title-animate {
        @include slideLeft;
        & {
            animation: slideInFromLeft 1s ease-out forwards;
        }  
    }

    .content-animate {
        @include slideRight;
        & {
            animation: slideInFromRight 1s ease-out forwards;
        }

         @media (max-width: 768px) {
            @include slideLeft;
            & {
              animation: slideInFromLeft 1s ease-out forwards;
            }
        }
    }
}