@use 'utilities';
@use 'colors' as *;

@use '../components/styles.scss';

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

$font-family-base: 'Rajdhani', sans-serif;

:root {
  font-family: $font-family-base;
  line-height: 1.4;
  box-sizing: border-box;
  @extend .full-content;
  @extend .font-weight-regular, .font-size-16;

  color: $White;
  background-color: $Black800;
}
  
  
body {
  margin: 0;
  @extend .full-content;

  #root {
    @extend .full-content;
  }
}
