@use "app/styles/utilities" as *;
@use "app/styles/colors" as *;

.nav-container {
    @extend .pos-sticky;
    top: 15px;
    right: 0;
    left: 0;
    height: 7%;
    min-height: 50px;
    max-height: 60px;
    z-index: 1000;
    @extend .d-flex, .align-center, .justify-center;

    .nav-inner-container {
        width: 90%;
        border: 1px solid $White;
        box-shadow: 0 0 10px $White;
        border-radius: 30px;
        backdrop-filter: blur(16px);
        @extend .d-flex, .align-center, .justify-space-between;
        @extend .full-height, .pos-relative, .px-8;
    }

    .avatar {
        @extend .d-flex, .align-center, .justify-center;
        @extend .cursor-pointer;
        border-radius: 50%;
        box-shadow: 0 0 5px $Teal400,
                0 0 10px $Teal400,
                0 0 20px $Teal300,
                0 0 40px $Teal200;

        svg {
            height: 2em;
            width: 2em;
        }
    }

    .nav-list-wrapper {
        list-style: none;
        @extend .m-0, .p-0, .full-height;

        @extend .d-flex, .align-center, .justify-center, .gap-6;

        .nav-list-item {
            @extend .full-height, .cursor-pointer;
            @extend .d-flex, .align-center, .justify-center;
            transition: text-shadow 0.3s ease;

            &:hover {
                text-shadow: 0 0 5px $Teal400,
                0 0 10px $Teal400,
                0 0 20px $Teal300,
                0 0 40px $Teal200;
            }

            &.active {
                color: $Teal200;
                text-shadow:
                    0 0 8px $Teal200,
                    0 0 15px $Teal100,
                    0 0 30px $White,
                    0 0 45px $Teal100;
            }
        }
    }

    .hamburger {
        @extend .d-none, .cursor-pointer;

        svg {
            height: 2em;
            width: 2em;
        }
    }
}

@media (max-width: 768px) {
    .nav-container {
      .nav-list-wrapper-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 3ch;
        padding: 1rem 0;
        box-shadow: 0 5px 15px $White;
        transition: all 0.3s ease;
        backdrop-filter: blur(10px);
        background-color: $Black800;
      }

      .nav-list-wrapper-container.open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
  
      .nav-list-wrapper-container.closed {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
  
      .nav-list-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
      }
  
      .hamburger {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  